<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51974991350-lgi84pmqbg2bs61r2fip6c7gk8ba03br.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51974991350-lgi84pmqbg2bs61r2fip6c7gk8ba03br</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>51974991350-qk8321f7klgs7cq59g33l01gail8jh95.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCR-D4zt6Me-M-dimqFtpcJsuMjXZPz12I</string>
	<key>GCM_SENDER_ID</key>
	<string>51974991350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sapChat</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f15dd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f15dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51974991350:ios:541aff8a6454a004f36bd7</string>
</dict>
</plist>